<meta charset="utf-8">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="View/css/styleForm.css">

<link rel="stylesheet" href="View/css/font-awesome.min.css">
		<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="View/css/styleHeaderSecundary.css">
     </div>
     <a href="index.php" class=" p-3 mt-3  btn btn-primary stretched-link">Volver a la pagina Principal</a> 
   </div>
